.navbar {
    background-color: #007bff;
    border-radius: 10px;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
}

.nav-link {
    color: white;
    font-size: 1.2rem;
}

.container {
    max-width: 800px;
    margin: auto;
  background-color: aliceblue;
}
.btn{
    align-items: center;
    text-align: center;
    background-color: aqua;

}

body{
    background-color: antiquewhite;
}



#booksTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  #booksTable th, #booksTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #booksTable th {
    background-color: #f2f2f2;
  }
  
  #booksTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #booksTable tr:hover {
    background-color: #ddd;
  } 
  